@use "../abstracts" as *;

.logo {
  margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
}

.primary-header {
  align-items: center;
  justify-content: space-between;
}

@include mq(big) {
  .primary-header::after {
    content: "";
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    margin-right: -2.5rem;
    background: hsl(var(--clr-wh1te-400) / 0.25);
    order: 1;
  }

  app-nav {
    order: 2;
  }
}
