<div class="grid-container grid-container--crew flow" style="height: 100%">
  <h1 class="numbered-title">
    <span aria-hidden="true">02</span> Meet your crew
  </h1>

  <app-tabs
    class="small-dot-indicators-style"
    [tabs]="tabs"
    [selectedTabName]="(selectedCrewName$ | async)!"
    [labelStyle]="'none'"
    (selectedTabChanged)="selectCrew($event)"
  ></app-tabs>

  <article class="crew-details flow">
    <header class="flow flow--space-small">
      <h2 class="fs-600 ff-serif uppercase">
        {{ (currentCrew$ | async)?.role }}
      </h2>
      <p class="fs-700 uppercase ff-serif">
        {{ (currentCrew$ | async)?.name }}
      </p>
    </header>
    <p>
      {{ (currentCrew$ | async)?.bio }}
    </p>
  </article>

  <picture *ngIf="currentCrew$ | async as currentCrew">
    <source [attr.srcset]="'.' + currentCrew.images.png" type="image/webp" />
    <img
      [attr.src]="'.' + currentCrew.images.webp"
      type="image/png"
      alt="the moon"
    />
  </picture>
</div>
