<div
  #tablist
  role="tablist"
  class="tab-list underline-indicators dot-indicators flex"
  (keydown)="changeTabFocus($event, tablist)"
>
  <button
    *ngFor="let tab of tabs; let i = index"
    role="tab"
    [attr.aria-selected]="i === selectedTabIndex"
    [attr.tabIndex]="i === selectedTabIndex ? 0 : -1"
    class="uppercase ff-sans-cond text-light-400 letter-spacing-2"
    (click)="selectTab(i)"
  >
    <span *ngIf="labelStyle === 'none'; else visibleLabel" class="sr-only">{{
      tab.name
    }}</span>

    <ng-template #visibleLabel>
      <span *ngIf="labelStyle === 'numbered'; else tabNameTemplate">{{
        i + 1
      }}</span>
    </ng-template>

    <ng-template #tabNameTemplate>
      <span>{{ tab.name }}</span>
    </ng-template>
  </button>
</div>
