<div role="tablist" class="tab-list underline-indicators flex">
  <button
    role="tab"
    aria-selected="true"
    class="uppercase ff-sans-cond text-light-400 bg-dark-400 letter-spacing-2"
  >
    Moon
  </button>
  <button
    role="tab"
    aria-selected="false"
    class="uppercase ff-sans-cond text-light-400 bg-dark-400 letter-spacing-2"
  >
    Mars
  </button>
  <button
    role="tab"
    aria-selected="false"
    class="uppercase ff-sans-cond text-light-400 bg-dark-400 letter-spacing-2"
  >
    Europa
  </button>
</div>
