@use "../../sass/abstracts" as *;

.small-dot-indicators-style .dot-indicators > * {
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  padding: 0.5em;
  background-color: hsl(var(--clr-wh1te-400) / 0.25);
}

.small-dot-indicators-style .dot-indicators > *:hover,
.small-dot-indicators-style .dot-indicators > *:focus {
  background-color: hsl(var(--clr-wh1te-400) / 0.5);
}

.small-dot-indicators-style .dot-indicators > [aria-selected="true"] {
  background-color: hsl(var(--clr-wh1te-400) / 1);
}

// Number indicators

.numbered-dot-indicators-style .dot-indicators {
  flex-direction: row;
}

.numbered-dot-indicators-style .dot-indicators > * {
  cursor: pointer;
  border: 0.1rem solid hsl(var(--clr-wh1te-400) / 0.25);
  border-radius: 50%;
  width: 4.5em;
  aspect-ratio: 1;
  background-color: hsl(var(--clr-dark-400) / 0.25);
}

.numbered-dot-indicators-style .dot-indicators > *:hover,
.numbered-dot-indicators-style .dot-indicators > *:focus {
  border: 0.1rem solid hsl(var(--clr-wh1te-400) / 1);
}

.numbered-dot-indicators-style .dot-indicators > [aria-selected="true"] {
  border: 0.1rem solid hsl(var(--clr-wh1te-400) / 1);
  color: hsl(var(--clr-dark-400) / 1);
  background-color: hsl(var(--clr-wh1te-400) / 1);
}

@include mq(big) {
  .numbered-dot-indicators-style .dot-indicators {
    flex-direction: column;
  }
}
