<div class="grid-container grid-container--destinations" style="height: 100%">
  <div>
    <h1 class="numbered-title"><span>01</span> Pick your destination</h1>
    <p>
      Let’s face it; if you want to go to space, you might as well genuinely go
      to outer space and not hover kind of on the edge of it. Well sit back, and
      relax because we’ll give you a truly out of this world experience!
    </p>
  </div>
  <div>
    <a
      href="#"
      class="large-button uppercase ff-serif text-dark-400 bg-wh1te-400"
      >Explore</a
    >
  </div>
</div>
