@use "../../sass/abstracts" as *;

:host {
  display: block;
  height: 100%;
}

.grid-container--destination {
  --flow-space: 2rem;
  grid-template-areas:
    "title"
    "image"
    "tabs"
    "content";

  & > h1 {
    grid-area: title;
  }

  & > img {
    grid-area: image;
    max-width: 60%;
  }

  & > .destination-info {
    grid-area: content;
  }

  & > app-tabs {
    grid-area: tabs;
  }
}

.destination-meta {
  flex-direction: column;
  border-top: 1px solid hsl(var(--clr-wh1te-400) / 0.1);
  padding-top: 2.5rem;
  margin-top: 2.5rem;

  & p {
    font-size: 1.75rem;
  }
}

@include mq(medium) {
  .destination-meta {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@include mq(big) {
  .grid-container--destination {
    justify-items: start;
    align-content: start;
    grid-template-areas:
      ". title title ."
      ". image tabs ."
      ". image content .";

    & > img {
      max-width: 90%;
    }
  }

  .destination-meta {
    --gap: min(4vw, 6rem);
    justify-content: start;
  }
}
