<div
  class="grid-container grid-container--destination flow"
  style="height: 100%"
>
  <h1 class="numbered-title">
    <span aria-hidden="true">01</span> Pick your destination
  </h1>

  <img src="../assets/destination/image-moon.png" alt="the moon" />

  <app-tabs [tabs]="destinationTabs"></app-tabs>

  <article class="destination-info">
    <h2>Moon</h2>

    <p>
      See our planet as you’ve never seen it before. A perfect relaxing trip
      away to help regain perspective and come back refreshed. While you’re
      there, take in some history by visiting the Luna 2 and Apollo 11 landing
      sites.
    </p>

    <div class="destination-meta flex">
      <div>
        <h3 class="text-accent fs-200 uppercase">Avg. distance</h3>
        <p class="fs-500 ff-serif uppercase">384,400 km</p>
      </div>
      <div>
        <h3 class="text-accent fs-200 uppercase">Est. travel time</h3>
        <p class="fs-500 ff-serif uppercase">3 days</p>
      </div>
    </div>
  </article>
</div>
