<div
  class="grid-container grid-container--destination flow"
  style="height: 100%"
>
  <h1 class="numbered-title">
    <span aria-hidden="true">01</span> Pick your destination
  </h1>

  <picture *ngIf="currentDestination$ | async as currentDestination">
    <source
      [attr.srcset]="
        '../assets/destination/image-' +
        (currentDestination.name | lowercase) +
        '.webp'
      "
      type="image/webp"
    />
    <img
      [attr.src]="
        '../assets/destination/image-' +
        (currentDestination.name | lowercase) +
        '.png'
      "
      alt="the moon"
    />
  </picture>

  <app-tabs
    [tabs]="destinationTabs"
    [selectedTabName]="(selectedPlanet$ | async)!"
    (selectedTabChanged)="selectPlanet($event)"
  ></app-tabs>

  <article class="destination-info flow">
    <h2 class="fs-800 uppercase ff-serif">
      {{ (currentDestination$ | async)?.name }}
    </h2>

    <p>
      {{ (currentDestination$ | async)?.description }}
    </p>

    <div class="destination-meta flex">
      <div>
        <h3 class="text-accent fs-200 uppercase">Avg. distance</h3>
        <p class="ff-serif uppercase">
          {{ (currentDestination$ | async)?.distance }}
        </p>
      </div>
      <div>
        <h3 class="text-accent fs-200 uppercase">Est. travel time</h3>
        <p class="ff-serif uppercase">
          {{ (currentDestination$ | async)?.travel }}
        </p>
      </div>
    </div>
  </article>
</div>
