.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.grid-container {
  display: grid;
  column-gap: var(--container-gap, 2rem);
  grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(
      2rem,
      1fr
    );
}

.grid-container > *:first-child {
  grid-column: 2;
}

.grid-container > *:last-child {
  grid-column: 3;
}
