@use "../abstracts" as *;

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.grid-container {
  text-align: center;
  border: 5px solid limegreen;
  display: grid;
  place-items: center;
  padding-inline: 1rem;
}

.grid-container * {
  max-width: 50ch;
}

@include mq(big) {
  .grid-container {
    text-align: left;
    column-gap: var(--container-gap, 2rem);
    grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(
        2rem,
        1fr
      );
  }

  .grid-container > *:first-child {
    grid-column: 2;
    outline: 1px solid red;
  }

  .grid-container > *:last-child {
    grid-column: 3;
    outline: 1px solid yellow;
  }

  .grid-container--home {
    padding-bottom: max(6rem, 20vh);
    align-items: end;
  }
}

.grid-container > *:first-child {
  outline: 1px solid red;
}

.grid-container > *:last-child {
  outline: 1px solid yellow;
}
