.label {
  --font-weight: 350;
  display: inline-block;
  font-size: var(--fs-300);
  color: hsl(var(--clr-neutral-800));
  width: max-content;
  margin-top: 0;
  margin-right: 0.25em;

  & + &::before {
    display: inline-block;
    content: "";
    border-left: 2px solid hsl(var(--clr-neutral-800));
    opacity: 0.25;
    padding-left: 0.25em;
    height: 1.25ex;
  }
}
