.primary-navigation {
  --gap: 8rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.primary-navigation a {
  --underline-gap: 8rem;
  text-decoration: none;

  & > span {
    font-weight: 700;
    margin-right: 0.5em;
  }
}
