@use '../abstracts' as *;

.primary-header {
  padding-block: var(--fs-600);
  // margin-bottom: var(--size-900);
  background: var(--clr-neutral-100);
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// .primary-navigation[data-visible] {
//   display: block;
// }

.primary-navigation {
  display: flex;
}

.mobile-nav-toggle {
  display: none;
}

.nav-list {
  text-decoration: none;
  display: flex;
  gap: clamp(var(--size-400), 5vw, var(--size-700));
}

@media screen and (max-width: map-get($breakpoints, small)) {
  .mobile-nav-toggle {
    display: block;
    position: fixed;
    top: var(--fs-400);
    right: var(--fs-400);
    width: 1.65em;
    aspect-ratio: 1;
    border: none;
    padding: 0.5em;
    background-color: transparent;
    background-image: url('../img/icon-hamburger.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &:hover,
    &:focus {
      transform: scale(1.05) translateY(-0.125em);
      color: var(--clr-neutral-100);

      &::before {
        opacity: 0.3;
      }
    }
  }

  .mobile-nav-toggle[aria-expanded='true'] {
    background-image: url('../img/icon-close.svg');
  }

  .primary-navigation {
    display: none;
    position: fixed;
    padding: var(--size-700);
    margin-inline: auto;
    inset: 5rem var(--size-600) auto;
    max-width: 25rem;
    background-color: var(--clr-neutral-100);
    border: 1px solid black;
    border-radius: var(--size-200);
    z-index: 1000;
  }

  .nav-list {
    display: grid;
    gap: var(--size-600);
    text-align: center;
    font-weight: var(--fw-bold);
  }

  .primary-navigation[data-visible] {
    display: block;
  }
}
