@use "../sass/abstracts" as *;

:host {
  display: block;
  height: 100vh;
}

.space-tourism {
  display: grid;
  grid-template-rows: min-content 1fr;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.home {
  background-image: url(../../assets/home/background-home-mobile.jpg);
}

.destinations {
  background-image: url(../../assets/destination/background-destination-mobile.jpg);
}

.crew {
  background-image: url(../../assets/crew/background-crew-mobile.jpg);
}

.technology {
  background-image: url(../../assets/technology/background-technology-mobile.jpg);
}

@include mq(medium) {
  .home {
    background-position: center center;
    background-image: url(../../assets/home/background-home-tablet.jpg);
  }

  .destinations {
    background-position: center center;
    background-image: url(../../assets/destination/background-destination-tablet.jpg);
  }

  .crew {
    background-position: center center;
    background-image: url(../../assets/crew/background-crew-tablet.jpg);
  }

  .technology {
    background-position: center center;
    background-image: url(../../assets/technology//background-technology-tablet.jpg);
  }
}

@include mq(big) {
  .home {
    background-image: url(../../assets/home/background-home-desktop.jpg);
  }

  .destinations {
    background-position: center center;
    background-image: url(../../assets/destination/background-destination-desktop.jpg);
  }

  .crew {
    background-position: center center;
    background-image: url(../../assets/crew/background-crew-desktop.jpg);
  }

  .technology {
    background-position: center center;
    background-image: url(../../assets/technology/background-technology-desktop.jpg);
  }
}
