@use "../sass/abstracts" as *;

:host {
  display: block;
  height: 100vh;
}

.home {
  display: grid;
  grid-template-rows: min-content 1fr;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-image: url(../../assets/home/background-home-mobile.jpg);
}

.home.home--destinations {
  background-image: url(../../assets/destination/image-moon.png);
  background-position: center;
  background-size: auto;
}

@include mq(medium) {
  .home {
    background-position: center center;
    background-image: url(../../assets/home/background-home-tablet.jpg);
  }
}

@include mq(big) {
  .home {
    background-image: url(../../assets/home/background-home-desktop.jpg);
  }
}
