@use "../../sass/abstracts" as *;

:host {
  display: block;
  height: 100%;
}

.grid-container--technology {
  padding-inline: 0;
  --flow-space: 2rem;
  grid-template-areas:
    "title"
    "image"
    "slider"
    "content";

  & > h1 {
    grid-area: title;
    margin-inline: 1rem;
  }

  & > picture {
    grid-area: image;
  }

  & > .technology-details {
    grid-area: content;
  }

  & > app-tabs {
    grid-area: slider;
  }
}

.technology-details {
  & > h2 {
    font-weight: 700;
    color: hsl(var(--clr-wh1te-400) / 0.5);
  }
}

@include mq(medium) {
  .grid-container--technology {
    grid-template-areas:
      "title"
      "image"
      "slider"
      "content";
    padding-bottom: 0;
    align-items: start;
  }
}

@include mq(big) {
  .grid-container--technology {
    grid-template-columns:
      minmax(1rem, 1fr) minmax(0, 8rem) minmax(0, 30rem) minmax(0, 30rem)
      minmax(1rem, 1fr);
    justify-items: start;
    grid-template-areas:
      ". title  title   title ."
      ".    .     .     image ."
      ". slider content image ."
      ".    .     .     image .";

    & > picture {
      position: relative;
      left: 3rem;
      grid-column: span 2;
      justify-self: end;
      align-self: start;
      max-width: 100%;
    }
  }
}
