:host {
  display: block;
}

@media (max-width: 35rem) {
  .primary-navigation--open {
    transform: translateX(0);
    transition: transform 400ms ease-in-out;
  }

  .primary-navigation--close {
    transform: translateX(100%);
    // transition: transform 400ms ease-out;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(../../../../assets/shared/icon-close.svg);
  }

  .mobile-nav-toggle:focus-visible {
    outline: 5px solid white;
    outline-offset: 5px;
  }
}
