<div>
  <nav>
    <ul class="primary-navigation underline-indicators flex">
      <li class="active">
        <a class="uppercase text-wh1te-400 letter-spacing-2" href="#"
          ><span>01</span>Active</a
        >
      </li>
      <li>
        <a class="uppercase text-wh1te-400 letter-spacing-2" href="#"
          ><span>02</span>Hovered</a
        >
      </li>
      <li>
        <a class="uppercase text-wh1te-400 letter-spacing-2" href="#"
          ><span>03</span>Idle</a
        >
      </li>
    </ul>
  </nav>
</div>
