<button
  class="mobile-nav-toggle"
  aria-controls="primary-navigation"
  [attr.aria-expanded]="menuOpen"
  (click)="toggleMenu()"
>
  <span class="sr-only">Menu</span>
</button>

<nav>
  <ul
    id="primary-navigation"
    class="primary-navigation underline-indicators flex"
    [ngClass]="
      menuOpen ? 'primary-navigation--open' : 'primary-navigation--close'
    "
  >
    <li
      [ngClass]="selectedNavIndex === i ? 'active' : ''"
      *ngFor="let navLink of navLinks; let i = index"
    >
      <a
        class="ff-sans-cond uppercase text-wh1te-400 letter-spacing-2"
        (click)="navLinkSelected(i)"
        href="#"
        ><span aria-hidden="true">{{ i }}</span
        >{{ navLink.title }}</a
      >
    </li>
  </ul>
</nav>
