@use '../abstracts' as *;

.primary-footer {
  color: white;

  &__logo-social--reveal {
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(216deg) brightness(110%) contrast(101%);
  }

  &__wrapper {
    display: grid;
    gap: 3rem;
    justify-items: center;
  }

  &__navigation {
    ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      padding: 0;
      gap: 1rem;
    }

    a {
      font-size: var(--fs-300);
      color: inherit;
      text-decoration: none;

      &:hover,
      &:focus {
        color: var(--clr-primary-400);
        text-decoration: none;
      }
    }
  }
}

.social-list {
  display: flex;
  gap: 3rem;
}

@media screen and (min-width: map-get($breakpoints, small)) {
  .primary-footer {
    &__wrapper {
      display: grid;
      gap: 0;
      grid-template-columns: repeat(5, 1fr);
    }

    &__navigation {
      grid-column: 2 / 4;
      grid-row: 1 / 3;

      ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: flex-start;
      }
    }

    &__request {
      grid-column: 4 / 6;
      grid-row: 1 / 2;
      justify-self: right;
      align-self: start;
    }

    &__copyright {
      grid-column: 4 / 6;
      grid-row: 2 / 3;
      justify-self: right;
      align-self: end;
    }
  }

  .social-list {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    gap: 1rem;
    align-items: flex-end;
  }
}
