$type-scale: (
  small: (
    200: 0.875rem,
    300: 1rem,
    400: 0.9375rem,
    500: 1.75rem,
    600: 1rem,
    700: 1.5rem,
    800: 3.5rem,
    900: clamp(5rem, 8vw + 1rem, 9.375rem),
  ),
  medium: (
    400: 1rem,
    600: 1.5rem,
    700: 2.5rem,
    800: 5rem,
  ),
  big: (
    400: 1.25rem,
    600: 2rem,
    700: 3.5rem,
    800: 6.25rem,
  ),
);
