@use "../abstracts" as *;

:root {
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;

  --section-spacing: 3.5rem;
  @include mq(medium) {
    --section-spacing: 7rem;
  }

  @each $color, $shade in $colors {
    @each $prop, $value in $shade {
      --clr-#{$color}-#{$prop}: #{$value};
    }
  }

  @each $size, $value in $sizes {
    --size-#{$size}: #{$value};
  }

  @each $size, $value in $sizes {
    --padding-block-#{$size}: #{$value};
  }

  @each $screen-size, $property in $type-scale {
    @if $screen-size == small {
      @each $prop, $value in $property {
        --fs-#{$prop}: #{$value};
      }
    } @else if $screen-size == medium {
      @include mq(medium) {
        @each $prop, $value in $property {
          --fs-#{$prop}: #{$value};
        }
      }
    } @else {
      @include mq(big) {
        @each $prop, $value in $property {
          --fs-#{$prop}: #{$value};
        }
      }
    }
  }
}
