@use "../abstracts" as *;

.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}
.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.fw-faded {
  color: hsl(var(--clr-wh1te-400) / 0.25);
}

.uppercase {
  text-transform: uppercase;
}

@each $screen-size, $property in $type-scale {
  @if $screen-size == small {
    @each $prop, $value in $property {
      .fs-#{$prop} {
        font-size: #{$value};
      }
    }
  } @else if $screen-size == medium {
    @include mq(medium) {
      @each $prop, $value in $property {
        .fs-#{$prop} {
          font-size: #{$value};
        }
      }
    }
  } @else {
    @include mq(big) {
      @each $prop, $value in $property {
        .fs-#{$prop} {
          font-size: #{$value};
        }
      }
    }
  }
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}
